{% extends 'gestion_vehicular/base.html' %}
{% block title %}Admin - AUTODO{% endblock %}

{% block navbar %}
    <a href="{% url 'dashboard_admin' %}">Inicio</a>
    <a href="{% url 'lista_insumos' %}">Inventario</a>
    <a href="{% url 'lista_usuarios' %}">Personal</a>
    <a href="{% url 'lista_servicios' %}">Servicios</a>
    <a href="{% url 'reportes' %}">Reportes</a>
    <a href="{% url 'logout' %}" style="background:#d35400; color:#fff; padding:8px 16px; border-radius:4px;">Cerrar Sesion</a>
{% endblock %}

{% block sidebar %}
    <h3>Acciones</h3>
    <a href="{% url 'crear_orden' %}">Nueva Orden</a>
    <a href="{% url 'modo_taller' %}">Modo Taller</a>
    <a href="{% url 'buscar_vehiculo' %}">Buscar Vehiculo</a>
    
{% endblock %}